#About {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    /* max-height: 100vh; */
    background-image: url("../../assets/images/space.jpg");
    z-index: -100;
}
