.top {
    margin-top: 20px;
}

.aboutText {
    text-align: left;
    color: #03A062;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.container {
    padding-top: 140px;
}
