#textStack {
  display: flex;
  color: #03A062;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

#textStack h2 {
  transform: translateY(-100vh);
  transition: 0.2s ease-out;
}

#textStack h2.loaded {
  transform: translateY(0);
  
}