#textStack {
  display: flex;
  color: yellow;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  
}

.stacking {
  transform: translateY(-100vh);
  transition: 0.3s ease-out;
}

.stacking.loaded {
  transform: translateY(0);
  
}