#textStack {
  display: flex;
  color: #03A062;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

#textStack h1 {
  transform: translateY(-100vh);
  transition: transform 0.2s ease-out;
}

#textStack h1:hover {
  color: #fff;
}

#textStack h1.loaded {
  transform: translateY(0);
  
}