.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.skillsLists {
    margin-bottom: 50px;
}

.skillsListHeading {
    background-color: #03A062;
    font-weight: bold;
}

.skillsListHeading:hover .listHeaderText {
    display: inline-block;
    transform: rotateY(360deg);
    transition: transform 0.5s;
}

.skillsListItem {
    background-color: rgba(52, 58, 64, 0.9);
}

.skillsListItem:hover {
    color: #03A062;
    font-weight: bold;
}