.projCard {
  opacity: 1;
  width: 100%;
  border-radius: 0;
  border: none;
  position: relative;
  overflow: hidden;
}

.cardImg {
  border-radius: 0;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}

.cardBody {
  position: relative;
  padding: 0;
}

.cardInfo {
  color: #FFF;
  background-color: rgba(52, 58, 64, 0.9);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  border: 5px solid #03A062;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #03A062;
}

.projBtn {
  background-color: #03A062;
  border: #fff;
  color: #fff;
  border-radius: 0;
  margin: 5px 10px;
}

.projBtn:hover {  
  background-color: #00da84;
}

.projBtn:focus {
  background-color: #07ff9d;
  outline: 2px solid #03A062    ;      
  box-shadow: none;
}

.projCard:hover .cardImg {
  transform: scale(1.1);
}

.projCard:hover .cardInfo {
  transform: translateY(0);
}

@media(max-width: 500px) {
  .card-text {
    font-size: 0.75rem;
  }
  .projBtn {
    margin: 5px; 
    font-size: 0.75rem;
  }
  .cardInfo {
    padding: 5px;
  }
}

@media(max-width: 400px) {
  .card-text {
    font-size: 0.6rem;
  }
  .cardTitle {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 5px;
  }
}

@media(max-width: 350px) {
  .card-text {
    font-size: 0.5rem;
  }
  .projBtn {
    margin: 3px; 
    font-size: 0.6rem;
    padding: 3px;
  }
}