.projCard {
  opacity: 1;
  width: 100%;
  border-radius: 0;
  border: none;
  position: relative;
  overflow: hidden;
}

.cardImg {
  border-radius: 0;
}

.cardBody {
  position: relative;
  padding: 0;
}

.cardInfo {
  color: #FFF;
  background-color: rgba(52, 58, 64, 0.9);
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.projBtn {
  /* background-color: #03A062; */
}

.projCard:hover {
  outline: #03A062 solid 5px;
}

.projCard:hover .cardInfo {
  transform: translateY(0);
}
