.projImg {
  width: 100%;
  opacity: 0.7;
  border-radius: 0;
  border: none;
}

.projCard {
  opacity: 1;
  width: 100%;
  cursor: pointer;
  border-radius: 0;
  border: none;
  outline: #03A062 solid 5px;
}

.cardImg {
  border-radius: 0;
}

.cardBody {
  position: relative;
  padding: 0;
}

.cardTitle {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
}

.cardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.projModalEl {
  border-radius: 0;
}

