.arrowRow {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.icon {
    font-size: 3em;
    color: #03A062;
    /* animation for blink (defined below) | ease-in | repeat infinitely */
    animation: blink 2s ease-in infinite;
}

.icon:hover {
    transform: rotate(360deg);
    transition: transform 1s;
    animation: none;
}

/* blink animation defined */
@keyframes blink {
    from, to { color: #03A062 }
    50% { color: #005c37 }
  }

  /* move arrow 5vh from bottom if screen over 700px tall */
  @media(min-height:700px) and (max-width: 992px) {
    .arrowRow {
        bottom: 5vh;
    }
}

  /* move arrow 15vh from bottom if screen over 800px tall */
@media(min-height: 800px) {
    .arrowRow {
        bottom: 10vh;
    }
}