/* .contactFull {
    display: flex;
    flex-direction: column;
} */

.linkItems {
    color: #26594a !important;
    display:flex;
    margin: 10px;
    text-align: left;
    padding: 0.5rem 1rem !important;
    align-items: center;
}

.contactIcon {
    width: 3rem !important;
    height: 3rem;
}

.labelText {
    display: inline-block;
    margin: 10px;
}