/* default brand photo hidden */
#danPhoto {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    transform: scale(0);
    visibility: hidden;
}

/* brand photo when show class active */
#danPhoto.show {
    transform: scale(1);
    visibility: visible;
    transition: transform 0.5s ease, scale 0.5s ease, visibility 0.5s ease;
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    padding-left: 16px;
}

/* navbar when opaque applied */
.navbar.opaque {
    background-color: rgba(52, 58, 64, 0.7);
    /* transition: background-color 0.5s ease; */
}
/* navbar when trans applied */
.navbar.trans {
    background-color: transparent;
    transition: background-color 0.5s ease;
}
/* nav.link */
.nav-link {
    color: #03A062 !important;
    font-weight: bold;
    padding: 2rem 1rem !important;
    /* transition: color 1s ease, font-weight 1s; */
    
}
.linkHolder {
    overflow: hidden;
    display: inline-block;
	/* padding: 0 4px; */
	/* height: 1em; */
}

.linkHolder span{
    position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
    /* overflow: hidden; */
}

.linkHolder span::before {
    position: absolute;
    /* display: none; */
	top: -100%;
	content: attr(data-hover);
	/* font-weight: 700; */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.linkHolder:hover span,
.linkHolder:focus span{
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
}


.nav-link.active {
    background-color: #03A062;
    color: rgba(52, 58, 64, 0.7) !important;
}

/* danText  */
#danText {
    display: block;
    transform: scale(1);
    visibility: hidden;
    transition: transform 0.5s ease, scale 0.5s ease, visibility 0.5s ease;
}

/* danText when show class active */
#danText.show {
    display: none;
    visibility: hidden;
    transform: scale(0);
}
