.navbar {
    background-color: rgba(52, 58, 64, 0.9);
}


/* nav default as footer */
.footer {
    transition: height 0.5s ease;
}

/* nav full page */
.full {
    height: 100vh;
    background-color: #03A062;
    /* background-color: #00da84; */
}

.linkDown {
    padding: 0.5rem 1rem !important;
}

.iconClose {
    font-size: 3em;
    color: rgba(52, 58, 64, 0.9);
    cursor: pointer;
    position: absolute;
    top: 15vh;
    right: 15vw;

    animation: darkBlink 2s ease-in infinite;
    
}

.iconClose:hover {
    transform: rotate(360deg);
    transition: transform 1s;
    animation: none;
}

@keyframes darkBlink {
    from, to { color: rgba(52, 58, 64, 0.9); }
    50% { color: rgba(52, 58, 64, 0.2); }
  }