.navbar {
    background-color: rgba(52, 58, 64, 0.9);
}


/* nav default as footer */
.footer {
    transition: height 0.5s ease;
}

/* nav full page */
.full {
    height: 100vh;
    background-color: #03A062;
}

.iconClose {
    color:rgba(52, 58, 64, 0.9);
}