#backgroundImg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: url("../../assets/images/space.jpg");
  z-index: -1;
}

#photoCon {
  z-index: 1;
  max-height: 100%;
  max-width: 100%;
  transform: translateX(0) translateY(0) scale(1) rotate(0deg);
  transition: transform 0.5s ease, scale 0.5s ease, visibility 0.5s ease,
    rotate 0.5s ease;
  visibility: visible;
}

#photoCon.hidden {
  transform: translateX(100%) translateY(-100%) scale(0.25) rotate(2turn);
  visibility: hidden;
}
