@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;900&display=swap");

.App {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  scroll-behavior: smooth;
  background-color: black;
  color: #fff;
}

h1 {
  font-weight: bold;
  cursor: default;
}

.sectionHeader:hover {
  color: #03a062;
}

.container {
  padding-top: 140px;
}

.row {
  justify-content: space-around;
}

@media(max-width: 575px) {
 h1 {
    font-size: 2rem !important;
  }
  .container {
    padding-top: 60px;
  }
}

@media(max-width: 450px) {
  h1 {
    font-size: 1.5rem !important;
  }
}

@media(max-width: 350px) {
  h1 {
    font-size: 1rem !important;
  }
}