@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;900&display=swap");

.App {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  scroll-behavior: smooth;
  background-color: black;
  color: #fff;
}

h1 {
  font-weight: bold;
  cursor: default;
}

.sectionHeader:hover {
  color: #03a062;
}
